* {
  box-sizing: border-box;
  &:focus {
    box-shadow: 0 0 0 0 !important;
    outline: -webkit-focus-ring-color auto 0px;
  }
}
a,
a:hover {
  text-decoration: none !important;
}

#app-strappberry,
html,
body {
  height: 100%;
}

body,
.body {
  margin: 0px;
  padding: 0px;
}

#app-strappberry {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 16px;
  letter-spacing: 0.5px;
  background-color: var(--white-primary);
  color: var(--black-primary);
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

footer {
  margin-top: auto;
}

.form-control {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  &,
  &:focus {
    background-color: var(--gray-light-primary);
  }
}
.form-select {
  border-radius: 10px;
}
.form-select,
.form-control,
.form-floating {
  font-family: "Nunito", sans-serif;
  color: var(--gray-strong-primary);
}
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  background-color: transparent;
  height: 1rem;
}
input.form-control,
select.form-select {
  min-height: 50px !important;
  height: 51px !important;
}
.form-floating {
  label {
    padding: 0.8rem 0.75rem;
  }
  & > .form-control:focus ~ label::after {
    background-color: var(--gray-light-primary);
  }
}
.headroom-wrapper {
  //height: 100px !important;
}
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000 !important;
  //padding: 0.5rem 2rem;
  background-color: var(--white-primary) !important;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.hamburger {
  padding: 15px;
  &-box,
  &-inner,
  &-inner::after,
  &-inner::before {
    width: 27px;
  }
  &-inner,
  &-inner::after,
  &-inner::before {
    height: 2px;
  }
}
