.Navbar {
  display: flex;
  align-items: flex-end;
  background-color: var(--white-primary);
  @media (min-width: 768px) {
    min-height: 80px;
  }

  &__logo {
    position: relative;
    min-height: 60px;
    z-index: 1;
    &::before {
      z-index: -1;
      content: "";
      left: 0%;
      bottom: 0%;
      width: 100%;
      height: 90%;
      position: absolute;
      background-color: var(--blue-strong-primary);
      border-radius: 10px 10px 0px 0px;
      @media (max-width: 767.98px) {
        height: 100%;
        border-radius: 0px;
      }
    }
  }
  &__menu {
    list-style: none;
    justify-content: flex-end;
    &,
    &--item {
      display: flex;
      align-items: center;
    }
    &--item {
      justify-content: start;
      color: var(--blue-strong-primary);
      font-size: 24px;
      font-weight: 700;
      position: relative;
      &.cart:hover {
        .Navbar__menu--cart {
          display: block;
        }
      }
    }
    &--cart {
      display: none;
      position: absolute;
      right: 0%;
      top: 100%;
      min-height: 100px;
      min-width: 464px;
      border-radius: 10px;
      background-color: var(--gray-primary);
      z-index: 9999;

      @media (max-width: 767.98px) {
        min-width: auto;
        position: fixed;
        width: 100%;
      }
      animation-name: showCart;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-duration: 0.3s;
      &__contentImg {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::before {
          position: absolute;
          content: attr(data-items);
          font-size: 15px;
          font-weight: 700;
          text-align: center;
          color: var(--white-primary);
          right: -25%;
          border-radius: 50%;
          top: -35%;
          min-width: 20px;
          padding: 0.2rem;
          min-height: 20px;
          background-color: black;
        }
      }

      &__title {
        font-size: 19px;
        font-weight: 600;
      }
      &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
      }
      &__contentProducts {
        list-style: none;
        max-height: 380px;
        overflow: auto;
      }
      &__product {
        font-size: 15px;
        font-weight: 600;
        border-radius: 10px;
        background-color: #e0e3f0;
        .img-product {
          width: 124px;
          height: 73px;
        }
        .product-info {
          display: flex;
          flex-direction: column;
        }
        .product-name {
          font-size: 18px;
          font-weight: 600;
        }
        .product-price {
          font-weight: 600;
        }
        .product-group {
          margin-top: auto;
          align-items: center;
        }
        .form-control {
          min-height: 30px !important;
          height: 31px !important;
          text-align: center !important;
          font-weight: 700;
        }
        .input-group,
        .form-control,
        .form-control:focus {
          border: 0px;
          border-radius: 10px;
          background-color: var(--white-primary);
        }
        .plus,
        .minus {
          display: flex;
          flex-direction: column;
          justify-content: center;
          border: 0px;
          background-color: transparent;
        }
      }
      .btn-blue-strong {
        display: block;
        text-align: center;
        width: 100%;
        font-weight: 700;
      }
    }
  }
}

@keyframes showCart {
  0% {
    transform: translateY(75px);
  }
  100% {
    transform: translateY(0px);
  }
}
