.Masthead {
  min-height: 65px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: var(--blue-strong-primary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--white-primary);
}
