.SideBard {
  background-color: var(--blue-strong-primary);
  border-radius: 10px;
  min-height: 650px;
  &__menu {
    list-style: none;
    &--link {
      color: var(--white-primary);
      font-size: 20px;
      font-weight: 500;
    }
  }
}
